body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.pageTitle {
  text-align: center;
  margin-top: 40px;
}

body > .container {
  border: 2px solid palevioletred;
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: aliceblue;
  width: 70%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.nextButton {
  position: fixed;
  text-align: center;
  right: 10px;
  bottom: 5px;
}

.userMessage {
  text-align: right;
}
